@media screen and (max-width: 768px) {
.hide-on-mobile {
    display: none
  }
}

@media screen and (min-width: 768px) {
  .show-on-mobile {
      display: block
    }

    .hide-on-desktop {
      display: none;
    }
  }