.section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-size: 1.5rem;

  > h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;

    &::after {
      content: '';
      display: block;
      margin: 1rem auto 3rem;
      width: 5rem;
      height: 1rem;
      border-radius: 1rem;
      background-color: #fff;
    }
  }

  &.s2 {
    background-color: lighten($main-color, 15%);

    > h2 {
      color: #fff;

      &::after {
        background-color: #fff;
      }
    }
  }

  @media screen and (min-width: 768px) {
    font-size: 2.5rem;
  }
}
